
{% extends 'users/base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'users/problem.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="filter-form">
      <form  method="GET">
        <label for="problem_type">Фильтр по типу проблемы:</label>
        <select name="problem_type" id="problem_type">
            <option name="" value="">Все</option>
            <option name="printer" value="printer">Принтер</option>
            <option name="internet" value="internet">Интернет</option>
            <option name="pc" value="pc">Компьютер</option>
            <option name="other" value="other">Другое</option>
        </select>
        <button class="btn-filter-problem" type="submit">Искать</button>
    </form>
    </div>
    <ul class="problem-list">
      {% for problem in problems %}
        <li class="problem-card">
          <div class="problem-card-header">
            <span class="problem-date">{{ problem.created_at|date:"M d, Y" }}</span>
            <a href="{% url 'problem_detail' problem.id %}" class="problem-link">{{ problem.problem_description }}{% if problem.problem_solved %} (solved){% endif %}</a>
            <span class="problem-type">{{ problem.problem_type }}</span>
          </div>
          <div class="problem-card-details">
            <span class="problem-location">{{ problem.floor }} этаж, {{ problem.room_number }} кабинет</span>
            {% if user.is_staff %}
              <a href="{% url 'solve_problem' problem.id %}" class="btn-solve-problem">Решить проблему</a>
            {% endif %}
          </div>
        </li>
      {% empty %}
        <li>No problems found.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
